@font-face {font-family: Windlass; src: url('res/Windlass.ttf');}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color:#441B06 !important;
    box-sizing: border-box;
    overflow-x: hidden;
}

input::placeholder {
    overflow: visible;
}

.App{
    padding: 1rem;
    height: 100vh;
    width: 100vw;
    background-color: #E9BC6D;
    border: 15px solid #441B06;
    border-radius: 60px;
    box-sizing: border-box;
    font-family: Windlass, sans-serif;
    overflow-y: auto;
}

.munchkinButton {
    background-color: #E9BC6D;
    border: 3px solid #441B06;
    color: #441B06;
    cursor: pointer;
}

.munchkinButton:hover {
    background-color: #441B06 !important;
    border-color: #441B06 !important;
    color: white !important;
}

.plusMinusButton {
    font-size: 2rem;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    line-height: 20px;
}

.roomIdSpan {
    display: inline-block;
    width: 100px;
    word-wrap: break-word;
}

.modal {
    font-family: Windlass, sans-serif;
}

.playerHelper {
    border: 1px solid #441B06;
    border-radius: 15px;
}

.combatEquationLine {
    border: 3px solid #441B06;
    border-radius: 2px;
    opacity: 1;
}

.doorCardColor {
    background-color: #FBF3E5;
}

.treasureCardColor {
    background-color: #E9BC6D;
}

.playerPictureThumbnail {
    background-color: #441B06;
    border-color: #441B06;
    border-radius: 15px;
    padding: .15rem;
    box-shadow: 2px 2px 5px 0px black;
    transition: 0.25s ease;
}

.playerPictureThumbnail:active {
    box-shadow: unset;
}

.playerPictureSelect {
    box-shadow: 3px 3px 5px 0px black;
    transition: box-shadow 0.5s ease;
}

.playerPictureSelected {
    /* box-shadow: 6px 6px 5px 0px #E9BC6D; */
    box-shadow: 0px 0px 5px 7px #441B06;
}

.tvCardText {
    font-size: 2rem;
}

.munchkinModal .modal-content{
    border: unset;
    background-color: unset;
}

.munchkinModal .modal-header {
    background-color: #E9BC6D;
    border-left: 15px solid #441B06;
    border-top: 15px solid #441B06;
    border-right: 15px solid #441B06;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom: 1px solid #441B06;
}

.munchkinModal .modal-body {
    background-color: #E9BC6D;
    border-left: 15px solid #441B06;
    border-right: 15px solid #441B06;
}

.munchkinModal .modal-footer {
    background-color: #E9BC6D;
    border-left: 15px solid #441B06;
    border-bottom: 15px solid #441B06;
    border-right: 15px solid #441B06;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border-top: 1px solid #441B06;
}

/* Floating card creator button */
.floating-button {
  position: fixed; /* Positions the element relative to the viewport */
  bottom: 30px;    /* Sets the distance from the bottom edge */
  right: 30px;     /* Sets the distance from the right edge */
  z-index: 999;    /* Ensures the button stays on top of other content */
  /* Optional: Add styling for appearance */
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.customCardThumbnailAdd {
    height: 140px;
    width: 100px;
    border-radius: 20px;
    border: 2px dashed black;
    font-size: 14px;
    cursor: pointer;
}

.customCardThumbnail {
    height: 140px;
    width: 100px;
    border: 6px solid #441B06;
    border-radius: 20px;
    font-size: 8px;
    box-shadow: 5px 5px 8px;
}

.newCardCreatorModal .modal-body {
    aspect-ratio: 1 / 1.55;
    width: 90%;
    border: 15px solid #441B06;
    border-radius: 60px;
}